:root {
    --primary: #f330a1;
    --business: #3A82ee;
    --white: #ffffff;
    --light: #eee;
    --grey: #888;
    --dark: #313154;
    --darker: #171717;
    --darkest: rgb(0, 0, 0);
    --danger: #ff5b57;
    --shadow: 0 1 3px rgba(0, 0, 0, 0.1);
    --btn: #41913c;
    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background: var(--white);
    color: var(--dark);
    width: 100%;
    min-height: 100vh;
}

h2 {
    color: var(--white);   
}

h3 {
    color: var(--dark);
    font-size: 1.65rem;
    font-weight: 700;   
}

p {
    color: var(--grey);
}


/* TOP NAV BAR */
.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    height: 2rem;
    background-color: var(--darker);
    align-items: center;
}

.covidLink, .lang {
    text-decoration: underline;
    color: var(--white);
}


/* PAGE HEADER AREA */
/* background pic */
.page-header {
    background-image: url(./images/2969-Lindis-Pass-Canterbury-Miles-Holden.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    margin: 0;
}

/* NZ tourism */
.page-title {
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: xx-large;
    margin-top: 3rem;
}

/* introduction paragraph */
.intro {
    text-align: center;
    color: var(--light);
    font-size: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;
    margin-top: 3rem;
}


/* ITINERARY AREA */
/* itinery wrapper styling */
.itinery-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2.5rem; 
    min-height: 400px;
}

/* styling for left hand side of itinerary (form area) */
#itinery-grid-left {
    border-radius: 5px;
    width: 48%;
    height: 100%;
    padding: 1.5rem;
}

#itinery-grid-left h3 {
    color: var(--grey);    
}


/* FORM */
form {
    width: 100%;
    margin: 2.5rem auto;
    padding: 1rem;
    border-radius: 5px;
}

/* make label text white */
.form-horizontal .col-form-label {
    color: var(--grey);   
}


/* CALENDAR  */
/* change font/padding in calendar */
.ui-datepicker { 
    font-size: 1.125rem !important;
    padding: .25rem;
    z-index: 1;
}


/* SEARCH TRANSPORT BUTTON */
#submitBtn {
    display: block;
    width: 60%;
    background-color: var(--btn);
    color: hsl(0, 0%, 100%);
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 2rem;
    cursor: pointer;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.25);
}

#submitBtn:hover {
    background-color: rgb(233, 130, 86);
}


/* GOOGLE MAPS AREA */
#googleMap {
    width: 48%;
    height: auto;
    min-height: 300px;
}

/* styling for results box with driving distance/time results from google map */
.alert-info {
    width: 100%;
    background-color: rgb(255, 255, 255, 0.35);
    color: var(--grey);
    padding: 1.5rem;
    line-height: 2;
    border-radius: 5px;
}


/* FOOTER AREA */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    min-height: 20rem;
    background-color: var(--darker);
    margin-top: 5rem;
    padding: 2.5rem;
    gap: 1.5rem;
}

.bottomLogo {
    margin-top: 2rem;
    max-width: 150px;
    height: auto;    
}

.h5li {
    color: var(--white);
}


/* RESULTS AREA */
.results {
    display: none;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 0 2.5rem;
}

#results {
    display: none;  
}

#ResultContainer {
    max-width: 1000px;
    height: auto;
    margin: 2rem auto; 
    display: grid;
    gap: 2rem;    
    grid-template-columns: repeat(auto-fill, minmax(320px, 2fr));
}

#ResultContainer div {
    padding: 20px;
    width: 100%;
    height: auto;
    font-size: smaller;
    background-color: var(--white);
}

#ResultContainer img {
    width: 100%;
    height: auto;
}

#TotalPrice, #TotalFuel, #Total {
    margin: unset;
    font-weight: 700;
}

#TotalPrice{
    margin-top: 20px;
}

/* MOBILE DEVICES */
@media not all and (min-width: 800px) {
    .top-nav h5 {
        font-size: smaller;
    }

    .form-horizontal {
        padding: 0;
    }

    #itinery-grid-left , #googleMap {
        width: 100%;
        padding: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }
}

form .error {
    color: var(--danger);
}


