:root {
    --primary: #f330a1;
    --business: #3A82ee;
    --white: #ffffff;
    --light: #eee;
    --grey: #888;
    --dark: #313154;
    --darker: #1c1c2d;
    --darkest: rgb(0, 0, 0);
    --danger: #ff5b57;
    --shadow: 0 1 3px rgba(0, 0, 0, 0.1);
    --btn: rgb(243, 87, 11);
    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background: var(--light);
    color: var(--dark);
    width: 100%;
    height: 100vh;
}

h2 {
    color: var(--white);   
}

h3 {
    color: var(--dark);
    font-size: 1.65rem;
    font-weight: 700;   
}

.h5li {
    color: var(--white);
    margin-top: .5rem;
}

/* page top banner */
.top-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background-color: #1c1c2d;
    align-items: center;
}

.covidLink, .lang {
    text-decoration: underline;
    color: var(--white);
}

/* page header with pic and title */
.page-header {
    background-image: url(./images/2969-Lindis-Pass-Canterbury-Miles-Holden.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    margin: 0;
}

/* NZ tourism area */
.page-title {
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: xx-large;
    margin-top: 3rem;
}

/* introduction paragraph */
.intro {
    text-align: center;
    color: var(--light);
    font-size: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;
    margin-top: 3rem;
}

/* date picker */
form {
    width: 100%;
    margin: 2.5rem auto;
    background-color: rgb(255, 255, 255, 0.35);
    padding: 1rem;
    border-radius: 5px;
}

/* show previous/next arrows on calendar */
.ui-datepicker-next, .ui-datepicker-prev {
    display: visible;
}

/* change font/padding in calendar */
.ui-datepicker { 
    font-size: 1.125rem !important;
    padding: .25rem;
    z-index: 1;
}

/* select location box styling */
.location {
    justify-items: left;
    align-items: center;
    margin-bottom: .5rem;
}

/* itinery area */
.itinery-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2.5rem;    
}

#itinery-grid-left {
    background-color: var(--dark);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
}

#itinery-grid-left h3 {
    color: var(--white);    
}

#submitBtn {
    display: block;
    width: 60%;
    background-color: var(--btn);
    color: hsl(0, 0%, 100%);
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 2rem;
    cursor: pointer;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.25);
}

#AddStopButton {
    width: 100%;
    height: 40px;
    background-color: var(--business);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

#SubmitBtn:hover, #AddStopButton:hover {
    background-color: rgb(234, 75, 6);
}

.form-horizontal .col-form-label {
    color: white;
    
}

/* results area */
.results {
    display: flex;
    justify-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 4rem;
    height: 250px;
}

.results-pic {
   width: 100%;
   height: auto;
}

.results-specs {
    width: 100%;
    height: auto;
    padding: 1rem;
    box-shadow: 2px 1px 9px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 9px -4px rgba(0,0,0,0.75);
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* google maps area */
.fa-diamond-turn-right {
    color: var(--white);
}

.jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.jumbotron h1 {
    font-size: 2em;
    font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
}

.jumbotron p {
    font-size: 2rem;
}

.right-icon {
    margin-bottom: 1.5rem;
}

#googleMap {
    width: 100%;
    height: 400px;
    margin-top: 2rem;
}

/* foooter area */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    width: 100%;
    height: 15rem;
    background-color: var(--darker);
    align-items: center;
}

.bottomLogo {
    margin-left: 2.5rem;
    width: 150px;
    height: auto;    
}

#results {
    display: none;
}

#ResultContainer {
    width: 80%;
    max-width: 800px;
    width: 100%;
    margin: 20px auto; 
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
#ResultContainer div {
    margin-bottom: 20px;
    padding: 20px;
    width: 25%;
    font-size: smaller;
}
#ResultContainer img {
    width: 100%;
}
#TotalPrice, #TotalFuel, #Total {
    margin: unset;
    font-weight: 700;
}
#TotalPrice{
    margin-top: 20px;
}













